.fullPage{
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 20px;
  top: 0%;
  left: 0%;
  border: 0px solid red;
  overflow-y: hidden;
}
.title{
  width: 100%;
  height: 100px;
  border: 0px solid red;
}
.menu{
 
  margin-top: 80px;
  width: calc(25vw - 20px);
  height: calc(100vh - 140px);
  border: 0px solid red;
}
.topic{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  color: white;
  font-size: 30px;
  width: 25vw;
  height: 80px;
  background-color: #4a5374;
  margin-bottom: 15px;
  margin-top: 5px;
  -webkit-clip-path: polygon(12% 0, 88% 0, 75% 100%, 0% 100%);
  clip-path: polygon(12% 0, 88% 0, 75% 100%, 0% 100%);
}
.topic:nth-child(1) {
  background: #5ddcff;
  transform: scale(1.1);
  transform-origin: center;
  overflow: hidden;
}
.topic:hover{
  transform: scale(1.1);
  background-color: #5da9ff;
  transition-duration: 0.8s;
  cursor: pointer;
}
.topicInfo{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  border-radius: 15px;
}
#topicInfo1{
  position: absolute;
  padding: 10;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 26, 255, 0);
  z-index: 22;
  border: 0px solid red;
}
#topicInfo2{
  overflow: hidden;
  position: absolute;
  background-color: rgba(0, 26, 255, 0.822);
  z-index: 23;
  display: none;
  backdrop-filter: blur(8px) saturate(120%);
  -webkit-backdrop-filter: blur(8px) saturate(120%);
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.068);
  box-shadow: rgba(79, 79, 104, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border: 0px solid red;

}
#topicInfo3{
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 24;
  display: none;
  background-color: rgba(255, 0, 140, 0.897);
  backdrop-filter: blur(8px) saturate(120%);
  -webkit-backdrop-filter: blur(8px) saturate(120%);
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.068);
  box-shadow: rgba(79, 79, 104, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border: 0px solid red;
}
#topicInfo4{
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 25;
  display: none;
  background-color: rgba(255, 251, 0, 0.897);
  backdrop-filter: blur(8px) saturate(120%);
  -webkit-backdrop-filter: blur(8px) saturate(120%);
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.068);
  box-shadow: rgba(79, 79, 104, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border: 0px solid red;
}
h3{
  color: white;
  font-family: 'Comfortaa', 'cursive';
}
h1{
  margin-left: 60px;
  color: white;
  font-family: 'Comfortaa', 'cursive';
}
.detail{
  color: rgba(255, 255, 255, 0.76);
  margin: 0px;
  padding: 10px;
  font-size: 15px;
  font-family: 'Comfortaa', 'cursive';
}
.tag{
  display: inline-block;
  color: white;
  margin: 0px;
  padding: 10px;
  font-family: 'Comfortaa', 'cursive';
}
.intro{
  width: 35%;
  height: 85%;
  padding: 10px;
  backdrop-filter: blur(8px) saturate(120%);
  -webkit-backdrop-filter: blur(8px) saturate(120%);
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.068);
  box-shadow: rgba(79, 79, 104, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border: 0px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
}
.photo{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white; 
  /* -webkit-transform: translate(50px,100px);
  transform: translate(calc(75vw - 400px),-20vh);
  transition-duration: 1s; */
}
.photo:hover{
 
}
.bio{
  width: 100%;
  height: 50%;
  /* display: flex;
  justify-content: start;
  flex-flow: wrap; */
  border: 0px solid red;
}
.skill{
  padding: 10px;
  width: 50%;
  height: 85%;
  backdrop-filter: blur(8px) saturate(120%);
  -webkit-backdrop-filter: blur(8px) saturate(120%);
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.068);
  box-shadow: rgba(79, 79, 104, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border: 0px solid red;
}
.AppDevlopementDetails{
  width: 80%;
  height: 150px;
}
.WebDevlopementDetails{
  width: 80%;
  height: 150px;
}
.logos{
  width: 100%;
  height: calc( 100% -400px);
}

.content{
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  position: relative;
  width: calc(75vw - 40px);
  height: calc(100vh - 146px);
  border: 0px solid red;
  
}